<div class="footer">
    <div class="tui-container tui-container_adaptive">
        <div class="tui-row tui-row_adaptive tui-row_align_center">
            <a class="tui-col_lg-2 tui-col_md-3 tui-col_xs-4" href="/about-us">About Us</a>
            <a class="tui-col_lg-2 tui-col_md-3 tui-col_xs-4" href="/contacts">Contacts</a>
            <a class="tui-col_lg-2 tui-col_md-3 tui-col_xs-4" href="/copyright">Copyright</a>
            <a class="tui-col_lg-2 tui-col_md-3 tui-col_xs-4" href="/cookie-policy">Cookie Policy</a>
            <a class="tui-col_lg-2 tui-col_md-3 tui-col_xs-4" href="/privacy-policy">Privacy Policy</a>
            <a class="tui-col_lg-2 tui-col_md-3 tui-col_xs-4" href="/terms-of-use">Terms Of Use</a>
        </div>
        <div class="tui-row tui-row_adaptive">
            <div class="tui-col_md-4 .copyright-mark">
                Copyright © {{currentYearLong()}} elptmaster.com
            </div>
        </div>
    </div>
</div>