<div class="tui-container tui-container_adaptive">
    <div class="layout content">
        <h1>About Us</h1>
        <p>We’re EASST Academy, and we are part of <a href="http://www.easst.co.uk" target="_blank">EASST</a>, an independent UK-registered charity. EASST’s aim is to make road travel safer, greener and more sustainable for future generations.</p>
        <h2>Our Story</h2>
    
        <iframe
                width="457"
                height="262"
                src="https://www.youtube.com/embed/5ziHGdmdmAM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen >
        </iframe>
    
        <p>We began in 2009, and since then have built a vibrant network of NGOs across Eastern Europe, the South Caucasus and Central Asia. We also contribute to significant road safety reforms in the region and support to the UN Decade of Action for Road Safety. You can read more <a href="http://www.easst.co.uk/projects" target="_blank">here</a>.</p>
        <p>For us, <strong>education is essential</strong>. In 2013 we teamed up with <a href="https://www.cranfield.ac.uk/" target="_blank">Cranfield University</a>, a globally significant center of expertise in science, technology, and management. Together we produced a <a href="http://www.easst.co.uk/news/news/438" target="_blank">pilot course</a> on road safety management systems for fleet managers.</p>
        <p>In 2016 we decided to go a step further and build a course that would deliver leading industry expertise to everyone. Accessible training. Regardless of geography. So we teamed up with Cranfield University and <a href="https://www.iru.org/" target="_blank">IRU Academy</a><em> </em>to introduce a specially designed <strong>online training programme</strong>.</p>
        <p><strong>‘Road Safety at Work</strong><strong>: Online Course for Managers’</strong> aims to help fleet managers set up, run and monitor effective safety systems. By offering the course online we can reach people who may not have had the time to commit to classroom-based lectures. And it’s also significantly cheaper than traditional training programmes – making world-class road safety education more accessible and affordable.</p>
        <p>We still offer a traditional in-class training course on fleet safety. So, if you are interested in further learning, or would like to expand your knowledge beyond our online course, please <a href="https://easstacademy.org/contact" target="_self">get in touch with us</a>.</p>
    </div>
    <section class="management">
        <div class="layout">
            <h2>Who we are</h2>
            <div class="container wrap">
                <tui-island class="partner">
                    <div class="tui-island__title">
                        <img src="/assets/images/about_us_dmitry_s_pic.png">
                        <div class="tui-island__title">Dmitry Sambuk</div>
                        <p class="tui-island__category">Co-founder, Managing Director, EASST Academy</p>
                    </div>
                    <p class="tui-island__paragraph">
                        Dmitry{{'’'}}s background is in international development and project management. As a part of the FIA Foundation team, he helped to develop Make Road Safe Campaign and championed Decade of Action for Road Safety 2011-2020. Dmitry is passionate about cross-border co-operation and power of accessible education for everyone.
                    </p>
                </tui-island>
                <tui-island noBr class="partner">
                    <div class="tui-island__title">
                        <img tui-island-md-image src="/assets/images/about_us_emma_m_pic.png">
                        <div class="tui-island__title">Emma MacLennan</div>
                        <p class="tui-island__category">Co-founder, EASST Academy</p>
                    </div>
                    <p class="tui-island__paragraph"t>
                        Emma is the founder and Director General of EASST, bringing with her considerable skills and vision from five years as the Alumni Organiser of the Delft University/FIA Foundation Global Road Safety Programme. She champions young talent, and was Director of the John Smith Memorial Trust from 1999 to 2008; a Good Governance programme sponsored by the UK Ministry of Justice aimed at inspiring leadership potential from the former Soviet Union.
                    </p>
                </tui-island>
    <!--            <tui-island noBr class="partner">-->
    <!--                <div class="tui-island__title"-group>-->
    <!--                    <img tui-island-md-image src="/assets/images/about_us_elizabeth_w_pic.png">-->
    <!--                    <div class="tui-island__title">Elizabeth Ward</div>-->
    <!--                    <tui-island-subtitle>Communications Officer, EASST Academy</tui-island-subtitle>-->
    <!--                </div-group>-->
    <!--                <tui-island-content>-->
    <!--                    Elizabeth joined the EASST Academy in 2020 and works on the communications strategy within the team. She previously worked with Diabetes UK, has a BSc in Psychology and is currently working on her Media and Communications Master’s degree.-->
    <!--                </tui-island-content>-->
    <!--            </tui-island>-->
            </div>
        </div>
    </section>
</div>

