<div class="tui-container tui-container_adaptive">
    <div class="layout content">
        <h1>Classroom Courses</h1>
        <p>EASST Academy offers classroom courses in Occupational Road Safety Management as well as classroom course pack in Disability Awareness Training for Public Transport Managers that can be downloaded and used for free.</p>
        <h2>Occupational Road Safety Management</h2>
    
        <h3>Course Overview</h3>
        <p>EASST Academy in association with Cranfield University offers a three day class-room based training course designed to improve knowledge and skills in managing occupational road safety. The aim of the Occupational Road Safety Management course is to increase the knowledge and skills necessary to improve the risk of crash involvement for people driving for work.</p>
    
        <p>The first section considers the human factors in driving, focusing on the link between driver behaviour and crash involvement. The development of appropriate driver recruitment and selection policies and procedures are covered along with how to mitigate occupational driver risk with reference to several methods.The course will also cover the role of the fleet manager to increase awareness of practices and processes relating to fleet safety including defining safe driving responsibilities and communicating the organization's commitment to the policy.</p>
    
        <h3>Intended Learning Outcomes</h3>
        <p>On completion of this course, delegates will be able to:</p>
    
        <ul>
            <li>Describe how to make a business case for road safety</li>
            <li>Understand the main elements of road safety management</li>
            <li>Describe the role of the road safety manager</li>
            <li>Understand some of the methods for managing driver behaviour</li>
            <li>Describe what financial data should be monitored in order to manage occupational road safety</li>
            <li>Understand how to ensure the safety of vehicle fleets and their use</li>
            <li>Understand how drivers exposed to pressures increases crash risk</li>
            <li>Understand how to monitor and regularly report on road safety performance</li>
            <li>Understand how poor road safety management affects profitability and reputation</li>
            <li>Understand how to develop an action plan for occupational road safety management</li>
        </ul>
    
        <p>The course will be delivered through a combination of lecture presentations, case studies, video material, group discussions, expert panels and group exercises.</p>
    
        <h3>Who should attend?</h3>
        <p>The course is intended for organisations and practitioners responsible for the management and training of occupational drivers.</p>
    
        <h3>Course Facilitators</h3>
        <p>The course will be delivered by Cranfield University academics Drs Lisa Dorn of the Driving Research Group. Lisa is a Reader in Driver Behaviour & Head of Group with 25 years’ experience in the field.</p>
    
        <h3>Duration</h3>
        <p>This is a three day course.</p>
    
        <h3>Course Dates and Fee</h3>
        <p>If you’d like to book this course, please <a href="./contacts">Contact Us</a></p>
    </div>
    <hr style="border-color: #77c8d4;">
    <div class="layout content">
        <p></p>
    
        <h2>Disability Awareness Training for Public Transport Managers</h2>
    
        <h3>Course Overview</h3>
        <p>Disability Awareness can bring a number of benefits to public transport companies. This course offers an introduction to Disability Awareness and will help you understand how to make your public transport services more accessible and inclusive of the needs of people with disabilities so they can travel independently and with confidence.</p>
    
        <h3>Learning outcomes</h3>
        <p>At the end of the course, participants will be able to better understand:</p>
    
        <ul>
            <li>‘disability’ as acomplex and wide-ranging societal issue.</li>
            <li>the wider business benefits of an inclusive transport environment.</li>
            <li>the potential barriers faced by people with disabilities ways in which these barriers can be removed.</li>
            <li>how to create an environment that enables independent travel.</li>
            <li>how to better understand and support passengers with different types of disability.</li>
            <li>how to develop an effective company policy or action plan.</li>
        </ul>
    
        <h3>How is it organised?</h3>
        <p>The course consists of six modules:</p>
    
        <ol>
            <li>What is disability?</li>
            <li>The business case for inclusive public transport</li>
            <li>Potential barriers for people with disabilities</li>
            <li>Examples of best practice</li>
            <li>Supporting disabled passengers: practical role play exercises</li>
            <li>Taking action</li>
        </ol>
    
        <p>Module timings range from 30-90 minutes. The course can be delivered as one session or over a few days.</p>
    
        <p>This guidance should be used alongside the course PowerPoint presentations for each module and the handouts.</p>
    
        <p>The course should be delivered in partnership with local disability groups so that individuals can bring their personal experiences to the table and help frame discussion in a more inclusive way. Where possible, a representation of people with different types of disability and experience should be involved – including those with ‘hidden’ disabilities.</p>
    
        <p>The Trainer should make the course as interactive as possible. It has been purposefully designed to include a number of participant-led discussions. This is to encourage active engagement and problem solving.</p>
    
        <p>Module 5’s role play exercises require a safe space where participants and trainers have access to a public transport vehicle.</p>
    
    
        <h3>Who is it for?</h3>
        <p>The course is aimed at managers and senior drivers of bus and trolleybus companies in low and middle income countries.</p>
    
        <h3>Course materials</h3>
    
        <p><a target="_blank" href="/assets/files/EASSTAcademyDisabilityAwarenessTrainingcourseGuidanceforTrainers.pdf">Disability Awareness Training Course for Public Transport Managers: Guidance for Trainers</a></p>
        <p><a target="_blank" href="/assets/files/EASSTAcademyDisabilityAwarenessTrainingcoursehandouts.pdf">Disability Awareness Training Course for Public Transport Managers: Handouts and Resources</a></p>
        <p><a target="_blank" href="/assets/files/EASSTAcademyDisabilityAwarenessTrainingcourseFeedbackForm.pdf">Disability Awareness Training Course for Public Transport Managers: Feedback form</a></p>
        <p><a target="_blank" href="/assets/files/EASSTAcademyDisabilityAwarenessCourseIntro.pdf">Disability Awareness Training Course for Public Transport Managers: Introduction (PPT)</a></p>
        <p><a target="_blank" href="/assets/files/EASSTAcademyDisabilityAwarenessModule1_0.pdf">Disability Awareness Training Course for Public Transport Managers: Module 1 (PPT)</a></p>
        <p><a target="_blank" href="/assets/files/EASSTAcademyDisabilityAwarenessModule2.pdf">Disability Awareness Training Course for Public Transport Managers: Module 2&nbsp;(PPT)</a></p>
        <p><a target="_blank" href="/assets/files/EASSTAcademyDisabilityAwarenessModule3.pdf">Disability Awareness Training Course for Public Transport Managers: Module 3&nbsp;(PPT)</a></p>
        <p><a target="_blank" href="/assets/files/EASSTAcademyDisabilityAwarenessModule4.pdf">Disability Awareness Training Course for Public Transport Managers: Module 4&nbsp;(PPT)</a></p>
        <p><a target="_blank" href="/assets/files/EASSTAcademyDisabilityAwarenessModule5.pdf">Disability Awareness Training Course for Public Transport Managers: Module 5&nbsp;(PPT)</a></p>
        <p><a target="_blank" href="/assets/files/EASSTAcademyDisabilityAwarenessModule6.pdf">Disability Awareness Training Course for Public Transport Managers: Module 6&nbsp;(PPT)</a></p>
        <p><a target="_blank" href="/assets/files/EASSTAcademyDisabilityAwarenessCourseEnd.pdf">Disability Awareness Training Course for Public Transport Managers: End (PPT)</a></p>
    </div>
</div>
