<div class="editContainer">
    <p>
        Editing: {{content?.objectId}}
    </p>
    <form [formGroup]="contentForm" class="editForm" *tuiLet="this.contentForm.controls as contControls">
        <tui-input
            class="titleInput"
            tuiTextfieldExampleText="Block title..."
            formControlName="title"
        >
            Title
        </tui-input>

        <ng-container [ngSwitch]="type">
            
            <!-- VIDEO -->
            <ng-container *ngSwitchCase="'video'">
                <button-toggle-group 
                #toggle
                size="m" 
                [values]="[{name: 'Use file', value: 'file'}, {name: 'Use link', value: 'link'}]"
                [state]="!!contControls.files.value?.length ? 'file' : (!!contControls.link.value ? 'link' : null)"
                >
            </button-toggle-group>
            
            <ng-container *ngIf="toggle.state == 'file'">
                <tui-input-files
                    [maxFileSize]="200000000"
                    *ngIf="!fileControl.value"
                    accept="video/*"
                    [formControl]="fileControl"
                    (reject)="onReject($event)"
                    ></tui-input-files>
                    <!-- (reject)="onReject($event)" -->
                    <tui-files class="tui-space_top-1">
                        <tui-file
                            *ngIf="loadedFiles$ | async as file"
                            [file]="file"
                            (removed)="removeFile()"
                        ></tui-file>
                    
                        <tui-file
                            *ngIf="loadingFiles$ | async as file"
                            state="loading"
                            [file]="file"
                        ></tui-file>

                        <tui-file
                            *ngIf="rejectedFiles$ | async as file"
                            state="error"
                            [file]="file"
                            (removed)="clearRejected()"
                        ></tui-file>
                    </tui-files>
                </ng-container>
                <tui-input
                    *ngIf="toggle.state == 'link'"
                    tuiTextfieldExampleText="http://example.com/"
                    formControlName="link"
                    
                    >
                    Link
                </tui-input>
            </ng-container>

            <!-- QUIZ -->
            <ng-container *ngSwitchCase="'quiz'">

                <button-toggle-group 
                #toggle
                size="m" 
                [values]="[{name: 'Use file', value: 'file'}, {name: 'Create quiz', value: 'text'}]"
                [state]="'text'"
                >
                </button-toggle-group>
                
                <ng-container *ngIf="toggle.state == 'file'">
                    <tui-input-files
                        *ngIf="!quizFileControl.value"
                        accept="text/csv"
                        [formControl]="quizFileControl"
                        (reject)="onReject($event)"
                        ></tui-input-files>
                        <!-- (reject)="onReject($event)" -->
                    <tui-files class="tui-space_top-1">
                        <tui-file
                            *ngIf="loadingFiles$ | async as file"
                            state="loading"
                            [file]="file"
                        ></tui-file>

                        <tui-file
                            *ngIf="rejectedFiles$ | async as file"
                            state="error"
                            [file]="file"
                            (removed)="clearRejected()"
                        ></tui-file>
                    </tui-files>
                </ng-container>
                <ng-container *ngIf="toggle.state == 'text'">
                    <form class="questions" 
                        [cdkDropListData]="contControls.questions.controls"
                        cdkDropList
                        (cdkDropListDropped)="dropQuestion($event)"
                        #parent="tuiActiveZone"
                        (tuiActiveZoneChange)="{}"
                        formArrayName="questions"
                        (ngSubmit)="addQuestion()"
                    >
                        <div
                            #question="tuiActiveZone"
                            [tuiActiveZoneParent]="parent"
                            (tuiActiveZoneChange)="onQuizActiveZone($event, i)"
                            [class.active-zone_active]="quizActiveZone == i"
                            cdkDrag
                            *ngFor="let questionForm of contControls.questions.controls; index as i"
                            [formGroup]="questionForm"
                            class="quiestion active-zone"
                            id="{{i}}"
                        >
                            <div>
                                <div class="quiestionText">
                                    <div class="qPlaceholder" *cdkDragPlaceholder></div>
                                    <tui-input
                                        tuiTextfieldSize="l"
                                        formControlName="questionText"
                                        [tuiTextfieldIcon]="i != 0 ? removeQuestion : undefined"
                                        [tuiTextfieldIconLeft]="handle"
                                    >
                                        Question text
                                        <span class="tui-required"></span>
                                        <input (keydown.backspace)="questionKey($event, i)" id="question-{{i}}" tuiTextfield >
                                    </tui-input>

                                    <ng-template #removeQuestion>
                                        <tui-svg
                                            [tuiHint]="'Remove question'"
                                            [src]="'tuiIconCloseLarge'"
                                            (click)="deleteQuestion(i)"
                                            class="icon"
                                        ></tui-svg>
                                    </ng-template>

                                    
                                    <ng-template #handle>
                                        <tui-svg [src]="'tuiIconDragLarge'" tuiHint="Drag me!" class="icon" cdkDragHandle></tui-svg>
                                    </ng-template>
                                </div>
                                <tui-expand  
                                    #expand
                                    class="answers" 
                                    [expanded]="quizActiveZone == i" 
                                    cdkDropList 
                                    [cdkDropListData]="questionForm.controls.answers.controls"
                                    (cdkDropListDropped)="dropAnswer($event)"
                                    [tuiActiveZoneParent]="parent"
                                    
                                >
                                    <ng-template tuiExpandContent>
                                    <form 
                                        formArrayName="answers"
                                        (ngSubmit)="addAnswer(i)"
                                    >
                                        <div  
                                            cdkDrag
                                            class="answerText" 
                                            *ngFor="let answerForm of questionForm.controls.answers.controls; index as j"
                                            [formGroup]="answerForm"
                                        >
                                            <div class="qPlaceholder"  *cdkDragPlaceholder></div>
                                        
                                            <tui-checkbox-labeled class="answer" formControlName="isCorrect">
                                                <tui-input
                                                    tuiTextfieldSize="m"
                                                    formControlName="answerText"
                                                    [tuiTextfieldIcon]="j != 0 ? removeQuestion : undefined"
                                                    [tuiTextfieldIconLeft]="handleAns"
                                                    class="answer"
                                                >
                                                    Answer text
                                                    <span class="tui-required"></span>
                                                    <input (keydown.backspace)="answerKey($event, i, j)" tuiTextfield id="answer-{{j}}">
    
                                                    <ng-template #handleAns>
                                                        <tui-svg [src]="'tuiIconDrag'" tuiHint="Drag me!" class="icon" cdkDragHandle></tui-svg>
                                                    </ng-template>
    
                                                    <ng-template #removeAnswer>
                                                        <tui-svg
                                                            [tuiHint]="'Remove answer'"
                                                            [src]="'tuiIconCloseLarge'"
                                                            (click)="deleteAnswer(i, j)"
                                                            class="icon"
                                                        ></tui-svg>
                                                    </ng-template>
                                                </tui-input>
                                            </tui-checkbox-labeled>

                                        </div>
            
                                        <div class="addAns">
                                            <button tuiButton type="submit" [appearance]="'flat'" [size]="'s'"  [icon]="'tuiIconPlus'">Add answer</button>
                                        </div>
                                        <!-- (click)="addAnswer(i)" -->
                                    </form>
                                    </ng-template>
                                </tui-expand>
                            </div>
                            
                        </div>
                        <div class="addQue">
                            <button type="submit" tuiButton [appearance]="'flat'"  [size]="'s'"  [icon]="'tuiIconPlus'">Add quiestion</button>
                        </div>
                    </form>
                </ng-container>

            </ng-container>
            <ng-container *ngSwitchCase="'reading_materials'" [ngTemplateOutlet]="editMaterials"></ng-container>
            
            <!-- ARTICLE -->
            <ng-container *ngSwitchDefault >
                <button-toggle-group 
                #toggle
                size="m" 
                [values]="[{name: 'Use text', value: 'text'}, {name: 'Use link', value: 'link'}]"
                [state]="!!contControls.text.value ? 'text' : (!!contControls.link.value ? 'link' : null)"
                >
                </button-toggle-group>
                
                <tui-editor
                    *ngIf="toggle.state == 'text'"
                    class="editor"
                    formControlName="text"
                    
                    [tools]="editorTools">
                </tui-editor>

                <tui-input
                    *ngIf="toggle.state == 'link'"
                    tuiTextfieldExampleText="http://example.com/"
                    formControlName="link"
                    
                    >
                    Link
                </tui-input>
            </ng-container>

        </ng-container>

        <!-- READING_MATERIALS -->
        <ng-template #editMaterials>Materials</ng-template>



    </form>
</div>