<div class="editContainer">
    <p>
        Editing: {{content?.objectId}}
    </p>
    <form [formGroup]="contentForm" class="editForm" *tuiLet="this.contentForm.controls as contControls">
        <tui-input
            tuiTextfieldExampleText="Block title here..."
            formControlName="title"
        >
            Title
        </tui-input>

        <ng-container [ngSwitch]="type">
            
            <!-- VIDEO -->
            <ng-container *ngSwitchCase="'video'">
                <button-toggle-group 
                #toggle
                size="m" 
                [values]="[{name: 'Use file', value: 'file'}, {name: 'Use link', value: 'link'}]"
                [state]="!!contControls.files.value?.length ? 'file' : (!!contControls.link.value ? 'link' : null)"
                >
            </button-toggle-group>
            <br>
            <ng-container *ngIf="toggle.state == 'file'">
                <tui-input-files
                    [maxFileSize]="200000000"
                    *ngIf="!fileControl.value"
                    accept="video/*"
                    [formControl]="fileControl"
                    (reject)="onReject($event)"
                    ></tui-input-files>
                    <!-- (reject)="onReject($event)" -->
                    <tui-files class="tui-space_top-1">
                        <tui-file
                            *ngIf="loadedFiles$ | async as file"
                            [file]="file"
                            (removed)="removeFile()"
                        ></tui-file>
                    
                        <tui-file
                            *ngIf="loadingFiles$ | async as file"
                            state="loading"
                            [file]="file"
                        ></tui-file>

                        <tui-file
                            *ngIf="rejectedFiles$ | async as file"
                            state="error"
                            [file]="file"
                            (removed)="clearRejected()"
                        ></tui-file>
                    </tui-files>
                </ng-container>
                <tui-input
                    *ngIf="toggle.state == 'link'"
                    tuiTextfieldExampleText="http://example.com/"
                    formControlName="link"
                    tuiAutoFocus
                    >
                    Link
                </tui-input>
            </ng-container>

            <!-- QUIZ -->
            <ng-container *ngSwitchCase="'quiz'">

                <button-toggle-group 
                #toggle
                size="m" 
                [values]="[{name: 'Use file', value: 'file'}, {name: 'Create quiz', value: 'text'}]"
                [state]="'text'"
                >
                </button-toggle-group>
                <br>
                <ng-container *ngIf="toggle.state == 'file'">
                    <tui-input-files
                        *ngIf="!quizFileControl.value"
                        accept="text/csv"
                        [formControl]="quizFileControl"
                        (reject)="onReject($event)"
                        ></tui-input-files>
                        <!-- (reject)="onReject($event)" -->
                    <tui-files class="tui-space_top-1">
                        <tui-file
                            *ngIf="loadingFiles$ | async as file"
                            state="loading"
                            [file]="file"
                        ></tui-file>

                        <tui-file
                            *ngIf="rejectedFiles$ | async as file"
                            state="error"
                            [file]="file"
                            (removed)="clearRejected()"
                        ></tui-file>
                    </tui-files>
                </ng-container>
                <ng-container *ngIf="toggle.state == 'text'">
                    <div 
                        class="questions active-zone" 
                        cdkDropList
                        [cdkDropListData]="contControls.questions.controls"
                        >
                        <!-- {{questions.isFocused}} -->
                        <div
                            cdkDrag
                            *ngFor="let questionForm of contControls.questions.controls; index as i"
                            [class.active-zone_active]="quizActiveZone == i"
                            class="quiestion"
                            id="{{i}}"
                        >
                        
                            <div class="quiestionText" 
                                #parent="tuiActiveZone"
                                (tuiActiveZoneChange)="onQuizActiveZone($event, i)"
                            >
                                <div class="qPlaceholder" *cdkDragPlaceholder></div>
                                <tui-input
                                tuiTextfieldSize="l"
                                [formControl]="questionForm.controls.questionText"
                                [tuiTextfieldIcon]="removeQuestion"
                                [tuiTextfieldIconLeft]="handle"
                            >
                                Question text here
                                <span class="tui-required"></span>
                                <input
                                    tuiTextfield
                                />
                                </tui-input>

                                <ng-template #removeQuestion>
                                    <tui-svg
                                        [tuiHint]="'Remove question'"
                                        [src]="'tuiIconCloseLarge'"
                                        (click)="deleteQuestion(i)"
                                        class="icon"
                                    ></tui-svg>
                                </ng-template>

                                <ng-template #handle>
                                    <tui-svg  [src]="'tuiIconDragLarge'" tuiHint="Drag me!" class="icon" cdkDragHandle></tui-svg>
                                </ng-template>
                            </div>
                        
                            <br >

                            <tui-expand  
                                class="answers" 
                                [expanded]="quizActiveZone == i" 
                                cdkDropList 
                                [cdkDropListData]="questionForm.controls.answers.controls"
                                #child="tuiActiveZone"
                                [tuiActiveZoneParent]="parent"
                            >
                                <ng-template tuiExpandContent>
                                    <div  class="answerText" *ngFor="let answerForm of questionForm.controls.answers.controls; index as j" cdkDrag>
                                        <div class="qPlaceholder" *cdkDragPlaceholder></div>
                                        <tui-input
                                            tuiTextfieldSize="m"
                                            [formControl]="answerForm.controls.answerText"
                                            [tuiTextfieldIcon]="removeAnswer"
                                            [tuiTextfieldIconLeft]="handleAns"
                                            class="answer"
                                        >
                                            Answer text here
                                            <span class="tui-required"></span>
                                            <input
                                                tuiTextfield
                                            />
                                        </tui-input>

                                        <ng-template #removeAnswer>
                                            <tui-svg
                                                [tuiHint]="'Remove answer'"
                                                [src]="'tuiIconCloseLarge'"
                                                (click)="deleteAnswer(i, j)"
                                                class="icon"
                                            ></tui-svg>
                                        </ng-template>
                                        <ng-template #handleAns>
                                            <tui-svg [src]="'tuiIconDrag'" (mousedown.prevent.stop)="{}" tuiHint="Drag me!" class="icon" cdkDragHandle (click)="log('fuck')"></tui-svg>
                                        </ng-template>
                                    </div>
        
        
                                    <button tuiIconButton (click)="addAnswer(i)" [appearance]="'flat'" [tuiHint]="'Add answer'"  [size]="'s'" class="addAns" [icon]="'tuiIconPlus'"></button>
                                </ng-template>
                            </tui-expand>
    
                            
                        </div>

                        <button tuiIconButton (click)="addQuestion();" [appearance]="'flat'" [tuiHint]="'Add quiestion'"  [size]="'s'" class="addQue" [icon]="'tuiIconPlus'"></button>
                    </div>
                </ng-container>

            </ng-container>
            <ng-container *ngSwitchCase="'reading_materials'" [ngTemplateOutlet]="editMaterials"></ng-container>
            
            <!-- ARTICLE -->
            <ng-container *ngSwitchDefault >
                <button-toggle-group 
                #toggle
                size="m" 
                [values]="[{name: 'Use text', value: 'text'}, {name: 'Use link', value: 'link'}]"
                [state]="!!contControls.text.value ? 'text' : (!!contControls.link.value ? 'link' : null)"
                >
                </button-toggle-group>
                <br>
                <tui-editor
                    *ngIf="toggle.state == 'text'"
                    class="editor"
                    formControlName="text"
                    tuiAutoFocus
                    [tools]="editorTools">
                </tui-editor>

                <tui-input
                    *ngIf="toggle.state == 'link'"
                    tuiTextfieldExampleText="http://example.com/"
                    formControlName="link"
                    tuiAutoFocus
                    >
                    Link
                </tui-input>
            </ng-container>

        </ng-container>

        <!-- READING_MATERIALS -->
        <ng-template #editMaterials>Materials</ng-template>



    </form>
</div>